@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    box-sizing: border-box;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}

/* navbar styles */
.head{
    border: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-name{
    font-weight: bold;
    font-size: 32px;
    margin-left: 10px;
}
.name-logo{
    display: flex;
    align-items: center;
}
.hamburger-img{
    display:none ;
}
.nav-content{
    display: flex;
    gap: 32px;
    font-size: 20px;
}
.nav-content-1{
    color: #FEA301;
    font-weight: bold;
}
.nav-content-2, .nav-content-3, .nav-content-4{
    font-weight: 500;
}
.nav-content-2, 
.title-vision{
    color: #01ACFD;
}
.nav-content-3{
    color:#05D4DF;
}
.nav-content-4{
    color: #5D58EF;
}
.contact-btn{
    background-color:#FEA301 ;
    border-radius: 0.75rem;
    color: white;
    padding: 0.625rem 3.75rem;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}

/* banner styles */
.banner-container{
    display: flex;
    align-items: center;
    gap: 3.125rem;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}
.title-empower{
    color: #FEA301;
}
.ban-description{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.ban-btn{
    background-color: #111111;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border-radius: 0.75rem;
    padding: 0.625rem 2.875rem;
    border: none;
}
/* Curriculum section styles */
.curriculum{
    background-image: url("/assets/bg.png");
    height: 880px; width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}
.curriculum h2{
    font-size: 2.9rem;
    font-weight: bold;
    margin-bottom: 5rem;
}
.curriculum-container{
    display: flex;
    gap: 1.75rem;

}
.card{
    margin-bottom: 5rem;
    border-radius: 1.125rem;
    padding: 3.25rem 2.5rem;
    max-width:368px;
    max-height: 476px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.card-description{
    font-weight: 500;
    font-size: 0.9rem;
    color:rgba(128, 128, 128, 1);
    margin-bottom: 2rem;
}
.more-card{
    font-size: 1rem;
    font-weight: 700;
}
#k{
    color: #64C8FF;
}
#e{
    color: #F0AA00;
}
#m{
    color:#8700FF;
}

.kinder{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to bottom,  #DEF5FF, rgb(255, 255, 255));

}
.elementary{
    border: 1px solid #FFF4DC;
    background-image: linear-gradient(to bottom,  #FFF4DC, rgb(255, 255, 255));


}
.middle{
    border: 1px solid #F2E8FF;
    background-image: linear-gradient(to bottom,  #F2E8FF, rgb(255, 255, 255));
}
.next-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    gap: 10px;

    
}

i{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
.next-btn-design{
    border-radius: 50%;
    background-color: #FEA301;
    padding: 17px 22px 19px 22px;
    width: 60px;
    height: 60px;
}





/* responsive for mobile devices */

@media screen and (max-width: 576px) {
   
    /* navbar responsive */

    .head{
        border: 1px solid #FEA301;
    }
    .navbar p{
        max-width: 576px;
        display: none;
    }
    .nav-content{
        display: none;
    }
    .logo{
        width: 100%;
        display: flex;
        margin: 0.75rem 1rem;
        justify-content: space-between;
    }
    .hamburger-img{
        display:block ;
    }

    /* banner styles */

    .banner-container{
        flex-direction: column-reverse;
        gap: 1.25rem;
        margin: 1.25rem 0.65rem;
        text-align: center;
        
    }
    .banner-container .banner-img{
        margin-top: 1.25rem;
    }

    /*curriculum styles  */
    .curriculum-container{
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    .card{
        margin-bottom: 0;
    }
    .next-btn{
        display: none;
    }

}